@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

:root {
	background-color: #000;
	color: #999;
	font-family: 'Signika Negative', sans-serif;
	scroll-behavior: smooth;
	font-size: 133%;
	background-image: url("https://www.publicdomainpictures.net/pictures/160000/velka/eclairs-foudre-et-nuages-sombres.jpg");
	background-repeat: no-repeat;
	background-size: 1409px;
	background-position-x: 100%;
	scroll-behavior: smooth;
}

.title {
	color: #088;
}

/*Firefox scrollbars look so much better than Chromium..*/
body::-webkit-scrollbar {
  width: 11px;
}
body::-webkit-scrollbar-track {
  background: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
  border: 3px solid #000;
}

/*credit to https://codepen.io/team/css-tricks/pen/QWWXQzE */
body {
	text-shadow: 2px 2px 0px #0a0a0a; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	margin: 2em;
	scrollbar-width: thin;

	/*thumb/foreground, scrollbar/background*/
	scrollbar-color: #9f9 #000; 
}



nav {
	justify-content: center;
	display: flex;
}

article > blockquote {
	background-color: rgba(16, 0, 0, 80%);
	margin: 0.5em 0;
}

blockquote {
	border-radius: 0.25em;
	padding: 0.5em;
	margin: 0.5em 0 0.5em 0.5em;
	width: fit-content;
}

blockquote:not(article > blockquote) {
	border: 0.1em solid rgba(42, 42, 42, 50%);
}

blockquote > p {
	margin: 0;
}

/*currently not working. see mag. lily + https://www.w3schools.com/cssref/css3_pr_mediaquery.php*/
@media (max-height: 30%) {
	nav > div {
		position: initial;
		color: #f0f;
	}
}

nav > div {

	background-color: #312c;

	/* Not working yet. Trying to tweak the bar so it's only one row and can be scrolled if the screen is too small.
	max-height: 1em;
	overflow-y: hidden;
	*/
 /* position:-webkit-sticky; + sticky works too but it's kinda floaty */

	overflow-x: auto;
	position: fixed;
/*	align-items: center;
	justify-content: center;*/
	padding: 0.5em; 
	margin: 0.5em;
	width: fit-content;
	top: 0;
	
/*	margin: -2em auto; */
	border-radius: 0.5em;
	color: #444;

/*
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	margin: 0;
	justify-content: center;
	width: fit-content;
*/
}

/*
nav > div {
}
*/
nav > div > a {
	padding: 0.5em;
	/* margin: 3px; */
}

td, th {
	padding: 0 0.5em 0 0;
}

a {
	color: #a22;
	text-decoration: none;
}

a:hover {
	color: #801616;
}

img {
	max-width: 80%;
}

hr {
	border-color: #300;
	background-color: #300; /* it's probably faintly visible on a browser i havent tested*/
}

#home {
	margin: 2em 0 0;
}

svg {
	height: 2em;
	width: 2em;
	color: #999;
	fill: #999;
}

.big-emojis {
	font-size: 2rem;
}



.no-css {
	display: none;
}
